/* titulo{
  width:50%;
  display: inline-block;
  }
campo{
  display: block;
  margin:7px;
}
.mal {
  border: 1px solid red;
}
.mal::after {
  content: "\f071";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
#main {
  display: block;
  position: relative;
} */