.mal {
  border: 1px solid red;
}
.fa-exclamation-triangle {
  position: absolute;
  top: 7px;
  right: 20px;
  display: inline-block;
}
.fa-exclamation-triangle::before {
  font-size: 24px;
}
.form-control {
  display: inline-block;
}