<?xml version="1.0" encoding="UTF-8"?>
<module>
 <name>creafeed</name>
 <displayName>
 <![CDATA[Crear feed]]>
 </displayName>
 <version>
 <![CDATA[1.0.0]]>
 </version>
 <description>
 <![CDATA[Crea un feed para criteo]]>
 </description>
 <author>
 <![CDATA[Epumer: informatico@barcelonaled.com]]>
 </author>
 <tab>
 <![CDATA[Design]]>
 </tab>
 <confirmUninstall>
 <![CDATA[¿Estás seguro de que quieres desinstalar el módulo?]]>
 </confirmUninstall>
 <is_configurable>1</is_configurable>
 <need_instance>0</need_instance>
 <limited_countries></limited_countries>
</module>